/* CSS for Itinerary Details */
.container {
    margin-top: 20px;
}

.heading {
    
    margin-bottom: 20px;
}

.itinerary-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.itinerary-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.itinerary-info {
    padding: 20px;
}

.destination {
    color: #333;
    margin-bottom: 10px;
}

.itinerary-info p {
    margin-bottom: 5px;
}

.itinerary-info p strong {
    font-weight: bold;
}

.itinerary-info p:last-child {
    margin-bottom: 0;
}
