body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.destination-container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
}
.header{
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}
.heading {
    font-weight: bold;
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;
}

.destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.destination-card {
    width: 40%; 
    height: 300px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative; 
    overflow: hidden; 
}

.destination-card img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px;
    transition: 0.3s ease; 
}

.destination-card:hover img {
    transform: scale(1.1); 
}

.destinations-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: opacity 0.3s ease; 
    text-align: center;
    color: #fff;
}

.destination-card:hover .destinations-info {
    opacity: 1; 
}

.destination-info-content {
    display: none;
}

.destination-card:hover .destination-info-content {
    display: block; 
}

.destination {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.search-btn{
    display: inline-block;
    padding: 0.6rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    border: 3px solid rgb(66, 130, 37);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    left: 40%;
}
.search-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(66, 130, 37);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.search-btn:hover::before {
transform: translateX(0);

}

.search-btn:hover {
background-color: green; 
color: white; 
}