{% extends 'Trekmate/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<style>
    .create-container {
    width: 100%; 
    max-width: 70%; 
    margin: 0 auto; 
}

</style>
<main class="create-container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" style="background-color: green; color: white; text-align: center;">
                    <h1>Write a post</h1>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title">Blog Title:</label>
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="short_description">Short Description:</label>
                            <input type="text" class="form-control" id="short_description" name="short_description">
                        </div>
                        <div class="form-group">
                            <label for="content">Content:</label>
                            <textarea class="form-control" id="content" name="content" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="image">Image:</label>
                            <input type="file" class="form-control-file" id="image" name="image">
                        </div>
                        <button type="submit" class="btn btn-success btn-block" style="width: 60%; margin: 0 auto;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function() {
        $("form").submit(function(event) {
            var title = $("#title").val();
            var shortDescription = $("#short_description").val();
            var content = $("#content").val();
            var image = $("#image").val();

            if (title === '' || shortDescription === '' || content === '' || image === '') {
                alert("Please fill in all fields.");
                event.preventDefault(); // Prevent default form submission
            } else {
                console.log("Form submitted!"); 
            }
        });
    });
</script>

    
{% endblock %}
