{% extends 'Trekmate/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'destination.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
        <div class="destination-container">
            <div class="header">
                <h3 class="heading">Popular Destinations</h3>
                <a href="{% url 'recommend' %}"> <button style="color: rgb(29, 63, 31);" class="search-btn">Search Destination</button></a>
            </div>
        
        <div class="destinations">
            {% for itinerary in itineraries %}
            <div class="destination-card">
                <img src="{{ itinerary.map_image.url }}" class="itinerary-img" alt="Map Image">
                <div class="destinations-info">
                    <div class="destination-info-content">
                        <h4 class="destination">{{ itinerary.destination }}</h4>
                        <p>{{ itinerary.location }}</p>
                        <button class="btn btn-primary look-now" data-itinerary-id="{{ itinerary.i_id }}">Look Now</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const lookNowButtons = document.querySelectorAll(".look-now");
        lookNowButtons.forEach(function(button) {
            button.addEventListener("click", function(event) {
                event.preventDefault();
                const itineraryId = this.getAttribute("data-itinerary-id");
                const itineraryDetailURL = `/itinerary/${itineraryId}/`;
                window.location.href = itineraryDetailURL;
            });
        });
    });
</script>
{% endblock %}
