{% extends 'Trekmate/base.html' %}
{% block title %}Trekmate{% endblock %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="home-container">
        <!-- Image section -->
        <div class="image-section">
            <img src="{% static 'images/wallpaper.jpg' %}" alt="Home Image">
            <div class="overlay"></div>
        </div>

        <div class="content-section">
            <h2>Welcome to Trekmate!</h2>
            <p>Explore our amazing destinations and shop for outdoor gear.</p>
            <div class="button-container">
                <a href="{% url 'destination' %}" class="custom-btn ">Explore</a>
                <a href="{% url 'recommend' %}" class="custom-btn ">Search For Destination</a>

            </div>
        </div>
    </div>
</body>
{% endblock %}