{% extends 'Trekmate/base.html' %}
{% block title %}Trekmate{% endblock %}
{% load static %}

{% block content %}
    <div class="background-image">
        <div class="container">
            <!-- Your home page content goes here -->
            <h2>Welcome to Trekmate!</h2>
            <p>Explore our amazing destinations and shop for outdoor gear.</p>
        </div>
    </div>
	<style>
		/* Add this CSS for the background image */
.background-image {
    background-image: url("../../../images/banner1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0; /* Adjust padding as needed */
    text-align: center;
    color: skyblue; /* Adjust text color for better contrast */
}

/* Additional styling for home page content */
.container {
    max-width: 800px; /* Adjust maximum width as needed */
    margin: 0 auto;
    padding: 20px;
}

	</style>
{% endblock %}

