{% extends 'Trekmate/base.html' %}

{% block content %}
<main class="container">
    <!-- Your blog content goes here -->
    {% for post in posts %}
    <div class="post">
        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-content">{{ post.content }}</p>
        <p class="post-author">Author: {{ post.author }}</p>
        <p>Created at: {{ post.created_at }}</p>
    </div>
    {% endfor %}
</main>
{% endblock %}

<style>
    .post {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.post-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.post-thumbnail img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.post-content {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.post-author {
    font-style: italic;
    margin-bottom: 5px;
}

.post-created-at {
    color: #999;
    font-size: 14px;
}

</style>
