{% extends 'Trekmate/base.html' %}
{% load static %}
{% block content %}
<head> 
    <link rel="stylesheet" type="text/css" href="{% static 'recommend.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="recommend-container">
    <div class="recommendation-form">
        <h3>Fill the criteria</h3>
        <form method="post" action="{% url 'recommend' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Discover Destinations</button>
        </form>
    </div>
    {% if destinations %}
    <div class="recommended-destinations">
        <h2>Recommended Destinations:</h2>
        <ul class="destination-list">
            {% for destination in destinations %}
            <li>{{ destination.destination }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
