{% extends 'Trekmate/base.html' %}
{% load static %}
{% block content %}
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'shop.css' %}">
<script type="text/javascript">
    var user = '{{request.user}}'

    function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getToken('csrftoken')

</script>
</head>
        <div class="d-flex justify-content-end mt-3">
            <div class="form-inline my-2 my-lg-0 mr-3 mt-3">
            <a href="{% url 'cart' %}">
            <img src="{% static 'images/trolley-cart.png' %}" style="height: 50px; margin-bottom: 20px;">
            </a>
            <p id="cart-total">{{cartItems}}</p>
            </div>
        </div>
        <div class="main-container">
            <div class="row">
                {% for product in products %}
                <div class="col-lg-4 col-md-6">
                    <div class="box-element product-card">
                        <img class="thumbnail" src="{{ product.product_image.url }}">
                        <div class="box-element product">
                            <h6><strong>{{ product.name }}</strong></h6>
                            <hr>
                            <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                            <a class="btn btn-outline-success" href="#">View</a>
                            <h4 style="display: inline-block;"><strong>${{ product.price }}</strong></h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
{% endblock content %}
